* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #111;
    padding: 0;
}



header {
    background-color: #1D1D1D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 50px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 90px;
    height: auto;
}

.titulo {
    color: #d5d5d5;
    text-align: center;
    margin: 0;
    flex-grow: 1;
}

header .botoes_superiores {
    display: flex;
    gap: 20px;
}

header .botao_simulados {
    background-color: #a56506;
    color: #fff;
    border: none;
    padding: 15px 80px;
    border-radius: 25px;
    margin-left: 40px;
    font-size: 14px;
    cursor: pointer;
} 

header .botao_areausuario {
    background-color: #d5d5d5;
    color: #1D1D1D;
    border: none;
    padding: 15px 80px;
    border-radius: 25px;
    margin-left: 40px;
    font-size: 14px;
    cursor: pointer;
}



.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 0 40px;
    width: 100%;
    background-color: #fff;
    padding: 100px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin: 10px 40px 0px 0px;
    text-decoration: underline;
    grid-column: 1 / -1;
}

.botao_materia {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 180px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 30px;
}

.botao_materia:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.botao_materia a {
    text-decoration: none;
    display: block;
    height: 100%;
}

.botao_materia a button {
    width: 100%;
    height: 100%;
    border: none;
    color: #d5d5d5;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    background: none;
    display: flex;
    align-items: flex-end;
}

.gramatica { background-color: #850606; }
.literatura { background-color: #850606; }
.ingles { background-color: #195d5d; }
.matematica { background-color: #080a37; }
.historia { background-color: #30134a; }
.geografia { background-color: #954600; }
.filosofia { background-color: #313e5c; }
.sociologia { background-color: #570416; }
.biologia { background-color: #165810; }
.fisica { background-color: #34909a; }
.quimica { background-color: #8d0036; }


.estrela {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff80;
    z-index: 10;
    line-height: 1;
    padding: 0;
}

.estrela:hover {
    color: #ffd700;
}

.estrela.favorita {
    color: #ffd700;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#mensagemFavorito {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #d5d5d5;
    border-radius: 5px;
    z-index: 100;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.backgroundMensagemAtiva {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
}

@media (max-width: 900px) {
    .materias-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
    }
    h2 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 500px) {
    .materias-container {
        grid-template-columns: 1fr;
    }
}